.titleQuote {
  color: #28d;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.39);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.quoteBox {
  margin-bottom: 5%;
}

.jumbotron {
  width: 68%;
  padding: 2%;
  margin-left: 15%;
  background-color: #fff;
  border: 1px solid rgb(126, 2, 241);
  border-radius: 20px;
}

.fab {
  color: #28d;
  margin-left: 95%;
  cursor: pointer;
}

.qtext {
  font-size: 25px;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.atext {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #313133;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #313133;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
